.NewToDoForm *{
    margin: 4px;
}

.NewToDoForm label{
    color: #D9DBEC;
}

.NewToDoForm-submit, .NewToDoForm-textInput{
    height: 35px;
    box-sizing: border-box;
    background-color: #D9DBEC;
}

.NewToDoForm-textInput{
    border: 3px inset #5AA3DB;
}

.NewToDoForm-submit{
    cursor: pointer;
    border: 3px solid #5AA3DB;
}

.NewToDoForm-submit:hover{
    background-color: #AEB2D6
}